@import '../../vars';

.div {
  background-color: $LightCyantags;
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  &:hover {
    background-color: $desaturateDarkCyan;
    p {
      color: $LightCyanBg;
    }
  }
  &--p {
    font-size: 13px;
    font-weight: 700;
    color: $desaturateDarkCyan;
  }
}
.mainDiv {
  display: flex;
  .divInFilter {
    @extend .div;
    cursor: default;
    &:hover {
      background-color: $LightCyantags;
      p {
        color: $desaturateDarkCyan;
      }
    }
  }
  .button {
    padding: 0;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    display: flex;
    background-color: $desaturateDarkCyan;
    padding: 0 0.5rem;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: $VeryDarkCyan;
    }
    img {
      align-self: center;
    }
  }
}
