@import './vars';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $LightCyanBg;
}

code {
  font-family: 'Source Sans 3', sans-serif;
}

.main--header__div {
  background-color: $desaturateDarkCyan;
  background-size: cover;
  background-image: url(./images/bg-header-desktop.svg);
  width: 100%;
  height: 9.8rem;
  @include mobile {
    background-image: url(./images/bg-header-mobile.svg);
  }
}

.section {
  margin-bottom: 5rem;
  margin-top: 4.5rem;
  @include mobile {
    display: flex;
    flex-direction: column;
  }
}

.sectionwithfilter {
  @extend .section;
  margin-top: 0;
}
